AIRFLOW_CONN_SNOWFLAKE_DEFAULT=snowflake://<user>:<password>@/<database>/<schema>?account=<account>&warehouse=<warehouse>&role=<role>
AIRFLOW_VAR_SLACK_WEBHOOK_URL=https://hooks.slack.com/services/...
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-2
